# Node
node_modules
npm-debug.log
yarn-error.log

# Mac / VSCode
.DS_Store
.vscode/

# Env files
.env

node_modules/
hw8-ts/dist/
official_joke_api/
official_joke_api/
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
